@charset "UTF-8";
@media (max-width: 450px) {
	body {
		padding: 3px;
	}
	header {
		width: 100%;
		height: auto;
		background-color: transparent;
	}
	header > #h-center {
		width: auto;
		height: auto;
		background-color: transparent;
		margin: 0 auto;
	}
	#h-center > .h-left > .serach {
		display: none;
	}
	#h-center > .h-right {
		width: 150px;
	}
	footer > .f-center {
		width: 100%;
		height: auto;
		padding-bottom: 25px;
	}
	footer > .f-center > .f-left {
		width: 100%;
		height: auto;
	}
}